{% extends "blog/base.html" %}
{% block content %}
<div class="content-section"><div class="about-container">
    <span class="about">About Pyblog</span></div>

    <p>Pyblog is a personal project created when I first started learning the Python language. I really enjoyed
    working with Django and picked up the coding from a combination of Udemy courses, YouTube videos, and  Stackoverflow pages. I was able to complete it in just under 4 weeks. </p>

    <p>In my Web Design course, we had an assignment to create a page that had CRUD functionality. The assignments were completed in groups of 4, and I didn't get as much exposure to the code as I would have liked. That was the key inspiration for choosing a blog as my next project. </p>

    <p>Python has rapidly become one of my favorite languages. In the future I plan to make an eCommerce page using the Django framework. </p>

    <p>Thank you for stopping by!</p>
</div>
{% endblock content %}
